day1/realt.txt
day2/input
day3/input
day4/input.txt
day5/input.txt
day6/real_input.txt
day7/real_input.txt
day8/real_input.txt
day9/real_input
day10/real_input
day12/real_input.txt
./day13/real_input.txt
./day14/real_input.txt
./day17/real_input
./day19/real_input
./day24/real_input
